body{
     background-image: url(../img/Fondo\ hoja\ de\ Vida.jpg);
}
.rounded{
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
}
h1{
    text-align: center;
    letter-spacing: 2px;
}
.container{
    width: 60%;
}
.titulo{
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    background-color: #00bfa5;
    color: white;
    font-weight: bold;
}

.titulos{
    background-color: #00bfa5;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 14px;
}
.informacion{
    display: flex;
}
.datosexpericiencia{
    flex-grow: 3;
}
.personales{
background-color: #bdbdbd;
}
.img{
    padding-left:3px ;
}
.idm{
    background: #ffffff;
    height: 15px;
    margin-top: 5px;
    /* width: 100px; */
}
.por{
    background: #00796b;
    height: 15px;
    width: 100%;
}
.poring{
    background: #00796b;
    height: 15px;
    width: 60%;
}
.unidos{
    display: grid;
    grid-template-columns: 1.2fr 1.5fr;
}